body {
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.landing-page {
  background-color: rgb(54, 58, 68);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.landing-page h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #D3CCE3;
}
.landing-page h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #D3CCE3;
}
.landing-page hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
}
.landing-page p {
  text-align: center;
  color: #D3CCE3;
  font-size: 20px;
  padding: 2em;
}
.social-links {
display: flex;
justify-content: space-between;
width: 15%;
margin: auto;
padding-bottom: 4em;
}
.social-links i {
  color: #D3CCE3;
  font-size: 4em;
  padding: 5px;
}
.category-tabs {
  width: 75%;
  background-color: rgb(54, 58, 68);
  opacity: .8;
  margin: auto;
  border-radius: 10px;
}
.category-tabs h1{
  color: #D3CCE3;
  text-align: center;
}
.projects-grid {
  display: flex;
}
.contact-page {
  background-color: rgb(54, 58, 68);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.contact-page h1{
  padding-top: 1.5em;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #D3CCE3;
}
.phone {
  text-align: center;
  color: #D3CCE3;
  font-size: 2em;
  padding: 5px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.email {
  text-align: center;
  color: #D3CCE3;
  font-size: 2em;
  padding: 5px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.contact-page hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
}
.about-page {
  background-color: rgb(54, 58, 68);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.about-page h1{
  padding-top: 1.5em;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #D3CCE3;
}
.about-page hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
}
.about-info {
  text-align: center;
  color: #D3CCE3;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.resume {
  background-color: rgb(54, 58, 68);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 1.5rem;
}
.resume h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #D3CCE3;
}
.resume hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
}
.resume h6 {
  text-align: center;
  font-size: 30px;
  color: #D3CCE3;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.resume-img {
  width: 75%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 1.5rem;
}