body {
  background-image: url('./assets/mountains.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.landing-page {
  background-color: rgb(54, 58, 68);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.landing-page h1 {
  padding-top: 1.5em;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #D3CCE3;
}
.landing-page h2 {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
  color: #D3CCE3;
}
.landing-page hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
}
.landing-page p {
  text-align: center;
  color: #D3CCE3;
  font-size: 20px;
  padding: 2em;
}
.social-links {
display: flex;
justify-content: space-between;
width: 15%;
margin: auto;
padding-bottom: 4em;
}
.social-links i {
  color: #D3CCE3;
  font-size: 4em;
  padding: 5px;
}
.category-tabs {
  width: 75%;
  background-color: rgb(54, 58, 68);
  opacity: .8;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 1.5em;
}
.category-tabs h1{
  color: #D3CCE3;
  text-align: center;
  padding-top: 1em;
  font-size: 60px;
}
.category-tabs hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
  padding-bottom: 2em;
}
.projects-grid {
  display: flex;
}
.contact-page {
  background-color: rgb(54, 58, 68);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.contact-page h1{
  padding-top: 1.5em;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #D3CCE3;
}
.phone {
  text-align: center;
  color: #D3CCE3;
  font-size: 2em;
  padding: 5px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.email {
  text-align: center;
  color: #D3CCE3;
  font-size: 2em;
  padding: 5px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.contact-page hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
}
.about-page {
  background-color: rgb(54, 58, 68);
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}
.about-page h1{
  padding-top: 1.2em;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #D3CCE3;
}
.about-page hr {
  border-top: 3px dotted white;
  width: 55%;
  margin: auto;
}
.about-info {
  text-align: center;
  color: #D3CCE3;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 3px;
}
.resume {
  display: flex;
  justify-content: space-between;
  width: 15%;
  margin: auto;
padding: 3em;
}

.resumebutton {
    display: block;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 10px;
      width: 190px;
      height: 40px; 
      background-color: rgb(54, 58, 68);
      color: #D3CCE3;
}
.nav-tabs {
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: space-between;
  font-size: 14px;
  padding-bottom: 1em;
  border-bottom: rgb(54, 58, 68) !important;
 color: #D3CCE3;
}